# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Editeurs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Node (si on ajoute 11ty plus tard)
node_modules/
.cache/
_site/
.claude/
